
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body {
    font-family: 'Hammersmith One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: black;
}

h2 {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bold;
    color: #000;
}

.container {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
}

.logo-container img {
    max-width: 300px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.signup-btn, .login-btn {
    width: 48%;
    padding: 10px 20px;
    text-align: center;
    background-color: #238de0;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.signup-btn:hover, .login-btn:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
