@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body {
    font-family: 'Hammersmith One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0000FF; /* Set the entire page background to blue */
    color: white; /* Text color should be white to contrast the blue background */
}

.container {
    text-align: center;
    padding: 50px;
}

.logo-container img {
    max-width: 300px;
}

.navbar {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column; /* Align buttons vertically */
    gap: 10px; /* Add space between buttons */
}

.nav-btn {
    background-color: #238de0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    width: 150px; /* Set width to make them uniform */
}

.nav-btn:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: transparent;
    color: white; /* Footer text color should contrast with blue background */
    text-align: center;
    padding: 10px 0;
}
